@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <input type="button" value="Call service with ajax" id="btnRequest" />
</div>
<div id="resultContainer">

</div>