
@{
    ViewBag.Title = "NewViewPage";
}

<h2>NewViewPage</h2>
<hgroup class="title">
    <h1> @ViewBag.Title. </h1>
</hgroup>
<section>
    <p> @ViewBag.Message </p>
    <p> <a href="~/">Home</a> </p>
</section>
