<div id="body">
    <section class="featured">
        <hgroup class="modal-title">
            <h1>Web Api Json</h1>
            <h3>Retrieve and display json data in a view</h3>
        </hgroup>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>Suppliers list</h2>
            <ul id="suppliers">
                <li>supplier list items</li>
            </ul>
        </div>
    </section>
    <section class="featured">
        <hgroup class="modal-title">
            <h1>Web Api XML</h1>
            <h3>Retrieve and display xml data in a view</h3>
        </hgroup>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>Products list</h2>
            <ul id="products">
                <li>product list items</li>
            </ul>
        </div>
    </section>
</div>